# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local configuration
config.json

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.project
.settings/

# Misc
.env
.npm/
.gemini/
